.tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  flex: 0 0 auto !important;
  background: #512da8;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
}

.activeTab {
  background: #fff;
  color: #512da8;
}
